p {
    color:black;
}
body {
    background-color: wheat;
}

h1 {
    color: black;
}
p { 
    color:blue:https://www.youtube.com/watch?v=LEbsx5sYZ3s
}
a {
    color:darkblue;
}
a:hover {
    color:blue;
}
